#loginMainGridPane {
    -fx-background-color: radial-gradient(radius 75%, #ebaa5d, #38909b);
}
.small {
    -fx-font-size: 22;
    -fx-font-wight: 500;
    -fx-font-family: 'Roboto Light'
}

.medium {
    -fx-font-size: 35;
    -fx-font-weight: 600;
    -fx-font-family: 'Roboto Light'
}

.large{
    -fx-font-size: 75;
    -fx-font-weight: 900;
    -fx-font-family: 'Arial Black';
}