#dev folders
/simple_javafx_fxml
/DAODemo2
/C195DB2TableViewExample
/CodeExamples
/C195ComboBoxExample
/C195ComboBoxObjectExample

#db connection info
/previous-versions/utils/Database/db.properties
/previous-versions/utils/Database/DBUtils.java
/previous-versions/DAO/DaoTemplate.java

# ItelliJ Files
/.idea
*.iml

#production
/out

