#dev folders
/simple_javafx_fxml
/DAODemo2
/C195DB2TableViewExample
/CodeExamples

#db connection info
/src/utils/Database/db.properties
/src/utils/Database/DBUtils.java
/src/DAO/DaoTemplate.java

# ItelliJ Files
/.idea
*.iml

#production
/out

