.calendar {
    -fx-padding: 10 10;
    -fx-background-color: WHITE;
 }

.day-labels {
    -fx-padding: 0 0 0 15;
}
.days-small {
    -fx-font-family: "Roboto Bold" ;
    -fx-font-size: 20 ;
    -fx-padding: 10 10;
    -fx-pref-width: 50 ;
}
.days {
    -fx-font-family: "Roboto Light" ;
    -fx-font-size: 20 ;
    -fx-padding: 10 10 ;
    -fx-pref-width: 175 ;
}

.times {
    -fx-font-family: "Roboto Light" ;
    -fx-font-size: 16 ;
    -fx-padding: 10 5 ;
    -fx-min-width: 30 ;
}

.time-slot {
    -fx-background-color: GREY, WHITE ;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot:selected {
    -fx-background-color:  rgba(235, 170, 93, .5) ;
    -fx-border-radius: .5;
    -fx-padding: -5;
}
